

name: Integration Tests

on: 
  pull_request:
      branches: [ "main" ]

jobs:
  integration-tests:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:latest
        env:
          MYSQL_ROOT_PASSWORD: ${{ secrets.DB_PASSWORD }}
          MYSQL_DATABASE: cloudDB
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3


    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20.x'

      - name: Install dependencies
        run: npm install

      - name: Install dependencies
        run: npm install supertest

      - name: Run integration tests
        env:
         DB_NAME : cloudDB
         DB_USER : root
         DB_PASSWORD : ${{ secrets.DB_PASSWORD }}
         DB_HOST : localhost
         DB_DIALECT : mysql
        run: npx jest
